body{
    margin: 0;
    padding: 0;
    padding-bottom: 300px;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
img{
    width: 55%;   
}
.menu{

    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul{
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(2, 15, 67);
}

nav .active a, nav a:hover {
    background-color: rgb(29, 29, 86);
    color: white;
}

#banner{
    display: flex;
    justify-content: center;
    background-image:url('../Imagens/moto.jpg');
    background-position: center;
    background-size: cover;
    height: 690px;
}

.colunm{
    flex-direction: column;
}

.banner_headline{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 20%;
}
.banner_headline h1{
    color: rgb(248, 241, 241);
    font-size: 50px;
    text-shadow: 0px 1px 0px rgb(228, 212, 212);
    margin: 0;
    padding: 0;
    width: 300px;
}

.banner_headline h2{
    color: white;
    font-size: 25px;
    text-shadow: 0px 1px 0px rgb(228, 212, 212);
    margin: 0;
    padding: 0;
    width: 450px;
    margin-top: 30px;
}

.banner_options{
    height: 200px;
    display: flex;
}

.banner1,.banner2,.banner3{
    flex: 1;
    padding: 20px;
}

.banner1,.banner2,.banner3, a{
    color: aliceblue;
}

.banner1{
    background-color: rgb(72, 188, 223);
    background-image:url('../Imagens/banner.jpg');
    height: 80%;
    background-size: cover;
    padding: 20px;
        
}
.banner2{
    background-color: rgb(31, 123, 151);
    background-image:url('../Imagens/F1.jpg');
    height: 80%;
    background-size: cover;
    padding: 20px;
}
.banner3{
    background-color: rgb(33, 100, 121);
    background-image:url('../Imagens/copa.webp');
    height: 80%;
    background-size: cover;
    padding: 20px;
}

.banner-title{
    color:white;
}
.banner-description1{
    color: rgb(255, 255, 252);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom:20px;
}
.banner-description2{
    color: rgb(240, 241, 247);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom:20px;
}
.banner-description3{
    color: rgb(255, 255, 252);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom:20px;
}

.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
}
#geral{
    display: flex;
    justify-content: center;
}
 
#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.flex{
    display: flex;
    flex-wrap:wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: blue;
    margin-top: 10px;
}

article .news_data{
    display: flex;
}

article .news_posted{
    background-color: blue;
    font-weight: bolder;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news_comments{
    background-color: rgb(0, 149, 255);
    font-weight: bolder;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-left: 2px;
}
article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height:auto;

}
article .news-title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
}
article .news_resume{
    color: black;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}